.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  background-color: var(--container-color);
  margin-top: var(--margin-top2);
  padding: 32px 24px;
  box-sizing: border-box;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 15vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
  gap: 16px;
  text-align: center;
}

.heading {
  font-size: 24px;
  font-weight: 400;
}

.intro {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.buttonContainer > button {
  font-size: 20px;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
}

.learnMoreButton {
  border: var(--borders);
  background-color: var(--primary-button-color);
}

.signInButton {
  border: none;
  background-color: var(--secondary-button-color);
}
/* Mobile */
@media (max-width: 768px) {
  .buttonContainer {
    justify-content: space-around;
    width: 100%;
  }
}
